<configuration>
  <system.webServer>
    <!-- Configuración del manejador para iisnode -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Reglas de reescritura para enrutar todas las solicitudes a server.js -->
    <rewrite>
      <rules>
        <!-- No reescribir solicitudes para archivos estáticos de Next.js -->
        <rule name="NextJs_Static">
          <match url="^(_next|favicon\.ico|public)(.*)" />
          <action type="None" />
        </rule>
        
        <!-- No reescribir solicitudes de API de Next.js -->
        <rule name="NextJs_API">
          <match url="^api/(.*)" />
          <action type="None" />
        </rule>

        <!-- No reescribir solicitudes para archivos temporales -->
        <rule name="Temp_Files_Ignore">
            <match url="^temp_files/(.*)" />
            <action type="None" />
        </rule>
        
        <!-- Enrutar todo lo demás a server.js para que Next.js lo maneje -->
        <rule name="NextJs_Router">
          <match url="(.*)" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!--
      Configuración crucial para iisnode:
      - loggingEnabled: Habilita la creación de logs para depuración.
      - watchedFiles: Lista de archivos que, si cambian, provocan un reinicio. 
                      Es vital excluir las carpetas de bases de datos para evitar reinicios al guardar datos.
      - interceptor: Apunta al script que maneja las redirecciones 404 para el enrutamiento de cliente de Next.js.
    -->
    <iisnode
      loggingEnabled="true"
      logDirectory="iisnode"
      watchedFiles="*.js;iisnode-interceptor.js"
      interceptor="iisnode-interceptor.js"
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
    />
    
  </system.webServer>
</configuration>
